{% extends "base.twig" %}

{% block content %}
{{ user }}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <a href="{{ path('_logout') }}">Logout</a>
{% else %}
    <a href="{{ path('_login') }}">Login</a>
{% endif %}
<br>
    <div class="alert">
    <strong>{{ 'module'|trans|title }}: {{module}}</strong> {{action}} {{id}}
    </div>
<img src="https://graph.facebook.com/{{user}}/picture"/>
{% endblock %}
